global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'kubernetes-pods'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: (order-service|payment-service|catalog-service|reservation-service)
      - source_labels: [__meta_kubernetes_pod_ip]
        target_label: __address__
        replacement: $1:8080
      - source_labels: [__meta_kubernetes_pod_name]
        target_label: instance
      - target_label: __metrics_path__
        replacement: /actuator/prometheus

