apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: order-mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-mysql
spec:
  selector:
    matchLabels:
      app: order-mysql
  template:
    metadata:
      labels:
        app: order-mysql
    spec:
      containers:
        - name: order-mysql
          image: mysql:8
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: root
            - name: MYSQL_DATABASE
              value: orderdb
          ports:
            - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: order-mysql
spec:
  selector:
    app: order-mysql
  ports:
    - port: 3306
      targetPort: 3306
