apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: catalog-mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-mysql
spec:
  selector:
    matchLabels:
      app: catalog-mysql
  template:
    metadata:
      labels:
        app: catalog-mysql
    spec:
      containers:
        - name: catalog-mysql
          image: mysql:8
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: root
            - name: MYSQL_DATABASE
              value: catalogdb
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: catalog-mysql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: catalog-mysql
spec:
  selector:
    app: catalog-mysql
  ports:
    - port: 3306
      targetPort: 3306
